.feed{ 
    flex:60%;
    }
    article {
        display: grid;
        grid-template-columns: repeat(2,  1fr);
        gap: 2rem;
        background-color: #f6f6f6;
        padding: 50px 0;
    }
    .title {
        text-align: center;
        margin: 30px 0 30px 0;
        
    }
    .hr{
        width: 80%;
        margin: 10px auto 10px auto ;
        border: 1px solid black;
    }

    .introtext{
        width: 80%;
        margin: 10px auto 10px auto ;
        text-align: center;
    }

    .design{
        padding: 30px;
        border-bottom: 0.5px solid #000100;
        
    }
    .design .text1 {
        margin: 0 0 0 25px;
        padding-top: 3PX;
        margin-top: 20px;
    }
    
    .design img 
{    width: 50%;
    height: auto;
    display: flex;
    
      
}