.feedsidebar{
    flex: 40%;
    height: calc(100vh - 60px);
    background-color: Pink;

}
.searchbar {
  width: 100%;
  height: 30px;
  background-color: yellow;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  padding-right: 10px;
}
  .searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
  }
  .searchInput {
    border: none;
    width: 70%;
  }